.container-full{
    height: 100vh;
    width: 100vw;
}


.container-full .side-image {
    height: 100vh;
    background-color: #2395FF;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-full .side-image img{
    width: 300px;
}

.container-md .logo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;

}

.container-full .logo-header img{
    width: 50px;
    margin-right: 25px;
}

.container-full .logo-header h2{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
}

.container-full .form-container{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


.container-full .form-container .form-header{
    margin-bottom: 30px;
}

.container-full .form-container .form-body input{
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid #ccc;
    height: 50px;
}

.container-full .form-container .form-body .terms-condition input{
    margin-bottom: 0;
    width: 20px;
    border: #0687ff 1px solid;
    margin-right: 25px;
}

.container-full .form-container hr{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-full .form-container hr{
    width: 80%;
}

.terms-condition{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-full .form-container .form-body button{
    width: 100%;
    background-color: #2395FF;
    color: #fff;
    border: 0;
    font-size: 18px;
    height: 50px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.container-full .form-container .form-body button:hover{
    background-color: #0687ff;
}

.container-full .form-container .form-footer{
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-full .form-container .form-footer button{
    width: 100%;;
    color: #0687ff;
    border: 0;
    font-size: 18px;
    height: 50px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border: #0687ff 1px solid;
    background-color: #fff;
}


@media only screen and (max-width: 768px) {

    .container-full .side-image{
        display: none;
    }
    .row>*{
        padding-right: 0;
        position: absolute;
        width: 100vw;
    }
}

